html,
body,
div,
p {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  /* min-height: 900px; */
}
.content {
  height: 100%;
  padding-top: calc(5vh + 30px);
  padding-bottom: 10px;
  margin: 0 10px;
  /* min-height: 900px; */
}
.flex{
  flex: 1;
  overflow: hidden;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
@media screen and (max-width: 1300px) {
  html,
  body {
    min-height: 700px;
  }
}
@media screen and (min-width: 1300px) {
  html,
  body {
    min-height: 760px;
  }
}
@media screen and (min-width: 1500px) {
  html,
  body {
    min-height: 900px;
  }
}
div {
  box-sizing: border-box;
}
